* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     /* Tipografías de Google Fonts */
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background-color: #e4d9d2;
    Background-image: linear-gradient(to right, #e4d9d2, white);
    color: #313131;
}

p {
    font-size: 14px;
    line-height: 20px;
    
}
